html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: solid black 2px; */
    background-color: #4D4D4D;
    overflow: hidden;
    resize: both;
    align-items: center;
    margin: 0;
}

.titml {
    margin-top: 20px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: solid black 4px;
}

form {
    width: 50%;
    height: 50%;
    border: solid black 5px;
    border-radius: 2px;
    background-color: #333332;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.inputt {
    margin: 20px;
}

button {
    border: solid purple 2px;
    border-radius: 5px;
    background-color: purple;
}

input {
    border: solid purple 2px;
    background-color: purple;
    font-style: blue;
    border-radius: 5px;
}