.spaceSettings {
    overflow-y: hidden;
}

.settingss {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    padding-left: 10%;
}

.divSettings {
    margin: 20px;
}

h2, h4 {
    color: white;
}

.spaceSettings {
    display: flex;
    flex-direction: row;
}