html {
    margin: 0;
    height: 100%;
    color: white;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: solid black 2px; */
    background-color: #501f3a;
    overflow: hidden;
    resize: both;
}

aside {

    /* border: solid black 2px; */
    border-radius: 10px;
    background-color: #0f292f;

    display: flex;
    flex-direction: column;

    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    transition: 0.5s;

    width: 75px;
}

.searchoradd {
    /* border: solid black 2px; */
    border-radius: 10px;
    margin: 10px;
    padding: 2px;
    resize: both;
    display: flex;
    flex-direction: row-reverse;
    background-color: #14a098;
}

#soa,
#addorsearchimg,
.textthread {
    display: none;
}

#soa:hover {
    background-color: #13958e;
}

#soa:focus {
    outline: none;
}

#soa {
    padding: 7px;
    /* border: solid black 2px; */
    border-radius: 10px;
    width: 100%;
    background-color: #14a098;

}

#addorsearchimg {
    max-width: 40px;
}

#hides {
    max-width: 40px;
    padding: 2px;
}


.contentAside::-webkit-scrollbar {
    display: none;
}

.contentAside {
    overflow-y: scroll;
}

nav {
    display: flex;
    flex-direction: row;
    /* border: solid blue 2px; */

    height: 60px;
}

.threadname {
    width: 100%;
    /* border: solid black 2px; */
    border-radius: 5px;
    margin-right: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    resize: both;
    background-color: #0f292f;
}

.profil {
    display: flex;
    flex-direction: row-reverse;
    /* border: solid black 2px; */
    width: 20%;
    border-radius: 5px;
    margin-left: 2px;
    background-color: #0f292f;
}

.items>a:hover {
    background-color: #13958e;
}

.items {
    margin-top: 5px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transition: 0.1s;
    transform-origin: top;
    width: 70%;
    resize: horizontal;
    /* border: solid black 2px; */
    background-color: #14a098;
    border-radius: 5px;
}

.items>a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.settings,
.profilsetting,
.data,
.logout {
    width: 20%;
    margin: 10px;
}

.namep {
    display: flex;
    align-items: center;
    z-index: 3;
    margin-right: 60px;
}

.pdprofil {
    width: 50px;
    border-radius: 20%;
    /* border: solid black 2px; */
}

.menu {
    position: absolute;
    margin-top: 1px;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: end;
}

.threadx {
    margin: 10px;
    background-color: #14a098;
    /* border: solid black 3px; */
    border-radius: 5px;

}

.threadx:hover {
    background-color: #13958e;
}


.linktoThread {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    padding: 2px;
    color: white;
    text-decoration: none;
}

.iconthread {
    height: 30px;
    margin: 7px;
}


main {
    /* border: solid purple 2px; */
    margin: 5px;
    display: flex;
    flex-direction: column;

    margin: 15px;
    width: 100%;
}

.spacetalk::-webkit-scrollbar {
    display: none;
}

.spacetalk {
    /* border: solid Yellow 2px; */
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
}

.messagex {
    margin: 10px;
}

.headermsg {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 5px;
}

.pdp {
    margin-top: 2px;
    max-height: 50px;
    border-radius: 20%;
    /* border: solid black 2px; */
}

.pseudo {
    padding-left: 5px;
}

.contentmsg {
    /* border: solid gray, 5px; */
    margin-left: 10px;
}

.enterContent {
    /* border: solid green 2px; */
    height: auto;
    display: flex;
    flex-direction: row;
}

.barEnter {
    padding: 10px;
    width: 100%;
}

.entrertext:focus {
    outline: none
}


.entrertext {
    color: white;
    padding: 2px;
    border-radius: 5px;
    /* border: solid black 2px; */
    width: 100%;
    height: 30px;
    font-size: large;
    background-color: #0f292f;
}

.buttonenter {
    width: auto;
    width: 50px;
    margin: 10px;
}

@media only screen and (max-width: 420px) {

    #soa,
    #addorsearchimg,
    .textthread {
        display: none;
    }

    aside {
        z-index: 4;
        width: 75px;
        position: absolute;
        height: 100%;
    }

    .threadname {
        display: none;
    }

    nav {
        justify-content: end;
        margin-right: 4px;
        margin-top: 3px;
    }

    header {
        width: 70%;
    }

    .profil {
        width: 100%;
    }

    main {
        align-items: flex-end;
    }

    .spacetalk {
        width: 70%;
        align-items: flex-end;
    }

    .enterContent {
        width: 70%;
        align-items: flex-end;
    }

}